.recipe-wrapper {
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;

  .recipe-list {
    margin: 0 auto;

    .example-card {
      max-width: 400px;

      img {
        min-width: 300px;
        width: auto;
        height: 326px;
        background-size: cover;
      }
    }
  }
}

.pagination {
  width: 90%;
  margin: 20px auto 20px;
  height: 60px;
  background-color: #2B2B2B;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  position: relative;

  .item {
    background-color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-top: 20px;
    //position: absolute;
    //top: 20px;
  }
}

.loading-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  p {
    text-align: center;
  }

  .loading {
    max-width: 200px;
    height: auto;
  }
}
