<div class="recipe-wrapper" *ngIf="recipesPage$ | async as recipes; else loading">
  <div class="recipe-list"
       *ngFor="let recipe of recipes; let i = index">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ recipe?.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ recipe?.image }}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{ recipe?.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openRecipe(recipe.id)">Open</button>
      </mat-card-actions>
    </mat-card>

<!--    <app-recipe-item [recipeItem]="recipe"></app-recipe-item>-->
  </div>
</div>

<div class="pagination">
  <div (click)="getPage(page)" class="item" *ngFor="let page of paginationList$ | async">{{ page + 1 }}</div>
</div>

<!--<mat-form-field>-->
<!--  Page size:-->
<!--  <input matInput [(ngModel)]="pageSize">-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--  Page size options:-->
<!--  <input matInput-->
<!--         [ngModel]="pageSizeOptions"-->
<!--         (ngModelChange)="setPageSizeOptions($event)">-->
<!--</mat-form-field>-->

<!--<mat-paginator [length]="length"-->
<!--               [pageSize]="pageSize"-->
<!--               [pageSizeOptions]="pageSizeOptions"-->
<!--               (page)="pageEvent = $event">-->
<!--</mat-paginator>-->

<ng-template #loading>
  <div class="loading-wrapper">
    <p class="text-center">Load recipes...</p>
    <img class="loading" src="../../assets/loading.gif" alt="loading">
  </div>
</ng-template>
