<div class="wrapper" *ngIf="recipesPage$ | async as recipes; else loading">

  <div class="title-wrapper">
    <h1>Title</h1>
  </div>

  <div class="recipe-wrapper">
    <div class="recipe-list"
         *ngFor="let recipe of recipes; let i = index">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ recipe?.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ recipe?.image }}" alt="recipe" (click)="openRecipe(recipe.id)">
        <mat-card-content>
          <p>
            {{ recipe?.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="openRecipe(recipe.id)">Open</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

  <div class="pagination">

    <mat-form-field>
      <mat-label>Recipes per page</mat-label>
      <mat-select (selectionChange)="getRecipesPerPage($event)">
        <mat-option *ngFor="let perPage of recipesPerPage" [value]="perPage.value">
          {{ perPage.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div (click)="getPage(page, i)"
         class="item"
         [class.active]="selectedPage === i"
         *ngFor="let page of paginationList$ | async; let i = index">
      {{ page + 1 }}
    </div>
  </div>

</div>

<ng-template #loading>
  <div class="loading-wrapper">
    <p class="text-center">Load recipes...</p>
    <img class="loading" src="../../assets/loading.gif" alt="loading">
  </div>
</ng-template>
