//colors
$white: #fff;
$grey: #444444;
$light-grey: #dcdcdc;
$light: #f5f5f5;
$silver: #c0c0c0;
$light-red: #ff4c2d;
$dark-red: #b86a6a;
$controlsBackgroundGrey: #F5F7F8;

$transition: all ease 0.3s;
