//fonts
$font-main-700: 'Ubuntu', sans-serif;
$font-bold-700: 'Ubuntu-Bold', sans-serif;
$font-light-300: 'Ubuntu-Light', sans-serif;
$font-medium-500: 'Ubuntu-Medium', sans-serif;
$font-regular-400: 'Ubuntu-Regular', sans-serif;

//colors
$black: #3C4650;
$white: #FFFFFF;
$white-dark:#F7FAFC;
$light-grey: #FAEAE8;
$dark-grey:#a5a4aa;
$grey: #909CA9;
$light-red: #E6968D;
$dark-red: #b86a6a;
$controlsBackgroundGrey: #F5F7F8;

$transition: all ease 0.3s;
